*{
	margin: 0;
}
#wrapper{  
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;

}
#header #logo{
  width: 240px;
  height: 128px;
 }
#header{
  background-color: rgb(220, 220, 220);
  border-bottom: 1px solid rgb(97, 97, 97);
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(220, 220, 220);
  border-top: 1px solid rgb(97, 97, 97);
}
#footer .info{
  font-weight: bold;
  color: rgb(97, 97, 97);
}
#footer #ul{
  list-style-type: none;
}
#menu{
  background-color: yellowgreen;
  height: 50px;
}
#menu .menuItem{
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
#gallery {  
  display: inline-block;
  margin-bottom: 100px;
}
#gallery .image-container {
    float: left;
    width: 250px;
    height: 200px;
    margin: auto;
    padding: 5px;
}
#gallery .image-container img {
    width: 100%;
    height: 100%;
}
#gallery #selected {
    width: 100%;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 200;
}
#gallery #selected img {
    float: left;
    border: 1px solid black;
    border-radius: 25px;
    width: 75%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#gallery #selected .previous-image {
    position: absolute;
    left: 0;
    top: 100px;
    width: 25%;
}
#gallery #selected .current-image {
    position: absolute;
    left: 25%;
    width: 50%;
}

#gallery #selected .next-image {
    position: absolute;
    left: 75%;
    top: 100px;
    width: 25%;
}
#gallery .clearfix {
    clear: both;
}
.blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.screen-dimmer {
   height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=0.8); /* internet explorer */
    -khtml-opacity: 0.8;      /* khtml, old safari */
      -moz-opacity: 0.8;      /* mozilla, netscape */
           opacity: 0.8;      /* fx, safari, opera */
}